<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Profile</title>
    {% load static %}
    <link rel="stylesheet" href = "{% static 'global.css' %}" />
    <link rel="stylesheet" href = "{% static 'patient_profile.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <button class="back-btn" onclick="goBack()"><i class="fa-solid fa-arrow-left"></i></button>
            <h1>HealthPath</h1>
        </div>
        <div class="nav-right">
            <button class = "icon-btn"><i class="fa-solid fa-bell"></i></button>
        <div class="avatar" id="user-avatar">{{ patient.user.name|slice:":2" }}</div>
    </div>
    </div>
    <div class="hero">
        <div class="hero-welcome" id="patient-name">{{ patient.user.name }}</div>
        <div class="hero-sub">Patient Profile</div>
    </div>

    <div class="main-content">
        <div class="left-column">
            <div class="section-card">
                <div class="section-header">
                    <span>Personal Information</span>
                {% if request.user.role == 'ADMIN' %}
                    <button class="edit-btn" id="personal-info-btn" onclick="openModal('edit-personal-modal')">
                        <i class="fa-solid fa-pen"></i> Edit 
                    </button>
                {% else %}
                    <button class="edit-btn" id="personal-info-btn">
                        <i class="fa-solid fa-lock"></i> Locked
                    </button>
                {% endif %}
                </div>
                <div class="info-row">
                    <div class="info-item">
                        <label>Full name</label>
                        <p id="full-name"> {{ patient.user.name }}</p>
                    </div>
                    <div class="info-item">
                        <label>Date of Birth</label>
                        <p id="dob">{{ patient.date_of_birth }}</p>
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-item">
                        <label>Gender</label>
                        <p id="gender">{{ patient.gender }}</p>
                    </div>
                </div>
            </div>
            <div class="section-card">
                <div class="section-header">
                    <span>Contact Information</span>
                    <button class="edit-btn" onclick="openModal('edit-contact-modal')">
                        <i class="fa-solid fa-pen"></i> Edit</button>
                </div>
                <div class="info-row">
                    <div class="info-item">
                        <label>Phone Number</label>
                        <p id="phone">{{ patient.user.phone }}</p>
                    </div>
                    <div class="info-item">
                    <label>Email Address</label>
                    <p id="email">{{ patient.user.email }}</p>
                    </div>
                </div>
                    <div class="info-item">
                        <label>Home Address</label>
                        <p id="address">{{ patient.street }}, {{ patient.city }}, {{ patient.state }}, {{ patient.zip_code }}</p>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="section-card">
                    <div class="section-header">
                        <span>Emergency Contact</span>
                        <button class="edit-btn" onclick="openModal('edit-emergency-modal')">
                            <i class="fa-solid fa-pen"></i> Edit</button>
                    </div>
                    <div class="info-item">
                        <label>Full Name</label>
                        <p id="emergency-name">{{ emergency_contact.first_name }} {{ emergency_contact.last_name }}</p>
                    </div>
                    <div class="info-item">
                        <label>Relationship</label>
                        <p id="emergency-relationship">{{ emergency_contact.relationship }}</p>
                    </div>
                    <div class="info-item">
                        <label>Phone number</label>
                        <p id="emergency-phone">{{ emergency_contact.phone }}</p>
                    </div>
                </div>
                <div class="section-card">
                    <div class="section-header">
                        <span> Insurance Details</span>
                        <button class="edit-btn" onclick="openModal('edit-insurance-modal')">
                            <i class="fa-solid fa-pen"></i> Edit</button>
                    </div>
                    <div class="info-item">
                        <label>Insurance Provider</label>
                        <p id="insurance-provider">{{ patient.insurance_provider }}</p>
                    </div>
                    <div class="info-item">
                        <label>Policy Number</label>
                        <p id="policy-number">{{ patient.policy_number }}</p>
                    </div>
                </div>
                {% if user.role == User.Role.ADMIN %}
                <div class="section-card" id="admin-actions">
                    <div class="section-header">
                        <span>Administrator Actions</span>
                    </div>
                    <div class="admin-action-buttons">
                        <button class="reset-btn" onclick="resetCredentials()">
                            <i class="fa-solid fa-key"></i>Reset Login Credentials
                        </button>
                        <button class="deactivate-btn" onclick="deactivateAccount()">
                            <i class="fa-solid fa-ban"></i> Deactivate Account
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    <div class="modal-overlay" id="edit-contact-modal" style="display: none;">
    <div class="modal">
        <div class="modal-header">
            <h2>Edit Contact Information</h2>
            <button class="modal-close" onclick="closeModal('edit-contact-modal')">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'update_contact' patient.id %}">
                {% csrf_token %}
            <div class="input-row">
                <div class="input-group">
                    <label>Phone Number</label>
                    <input type="tel" id="edit-phone" name="phone" value="{{ patient.phone }}" placeholder="Phone number">
                </div>
                <div class="input-group">
                    <label>Email Address</label>
                    <input type="email" id="edit-email" name="email" value="{{ patient.email }}" placeholder="Email address">
                </div>
            </div>
            <div class="input-group">
                <label>Home Address</label>
                <input type="text" id="edit-address" name="address" value="{{ patient.address }}" placeholder="Home address">
            </div>
        </div>
        <div class="modal-actions">
            <button class="cancel-btn" onclick="closeModal('edit-contact-modal')">Cancel</button>
            <button type="submit" class="confirm-btn">Save Changes</button>
        </div>
    </form>
    </div>
</div>

<div class="modal-overlay" id="edit-emergency-modal" style="display: none;">
    <div class="modal">
        <div class="modal-header">
            <h2>Edit Emergency Contact</h2>
            <button class="modal-close" onclick="closeModal('edit-emergency-modal')">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'update_emergency' patient.id %}">
                {% csrf_token %}
            <div class="input-row">
                <div class="input-group">
                    <label>Full Name</label>
                    <input type="text" id="edit-emergency-name" name="emergency_name" value="{{ patient.emergency_name }}" placeholder="Full name">
                </div>
                <div class ="input-group">
                    <label>Relationship</label>
                    <input type="text" id="edit-emergency-relationship" name="emergency_relationship" value ="{{ patient.emergency_relationship }}" placeholder="e.g. Spouse, Parent">
                </div>
            </div>
            <div class="input-group">
                <label>Phone Number</label>
                <input type="tel" id="edit-emergency-phone" name="emergency_phone" value="{{ patient.emergency_phone }}" placeholder="Phone number">
            </div>
        </div>
        <div class="modal-actions">
            <button class="cancel-btn" onclick="closeModal('edit-emergency-modal')">Cancel</button>
            <button type="submit" class="confirm-btn">Save Changes</button>
        </div>
    </form>
    </div>
</div>

<div class="modal-overlay" id="edit-insurance-modal" style="display: none;">
    <div class="modal">
        <div class="modal-header">
            <h2>Edit Insurance Details</h2>
            <button class="modal-close" onclick="closeModal('edit-insurance-modal')">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'update_insurance' patient.id %}">
                {% csrf_token %}
            <div class="input-row">
                <div class="input-group">
                    <label>Insurance Provider</label>
                    <input type="text" id="edit-insurance-provider" name="insurance_provider" value="{{ patient.insurance_provider }}" placeholder="Insurance provider">
                </div>
                <div class ="input-group">
                    <label>Policy Number</label>
                    <input type="text" id="edit-policy-number" name="policy_number" value="{{ patient.policy_number }}" placeholder="Policy number">
                </div>
            </div>
        </div>
        <div class="modal-actions">
            <button class="cancel-btn" onclick="closeModal('edit-insurance-modal')">Cancel</button>
            <button type="submit" class="confirm-btn">Save Changes</button>
        </div>
    </form>
    </div>
</div>
<div class="modal-overlay" id="edit-personal-modal" style="display: none;">
    <div class="modal">
        <div class="modal-header">
            <h2>Edit Personal Information</h2>
            <button class="modal-close" onclick="closeModal('edit-personal-modal')">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'update_personal' patient.id %}">
                {% csrf_token %}
            <div class="input-row">
                <div class="input-group">
                <label>Full Name</label>
                <input type="text" id="edit-full-name" name="full_name" value="{{ patient.full_name }}" placeholder="Full name">
                </div>
                <div class="input-group">
                    <label>Date of Birth</label>
                    <input type="date" name="dob" id="edit_dob" value="{{ patient.dob }}">
                </div>
            </div>
            <div class="input-group">
                <label>Gender</label>
                <select name="gender" id="edit-gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Prefer not to say</option>
                </select>
            </div>
        </div>
        <div class="modal-actions">
            <button class="cancel-btn" onclick="closeModal('edit-personal-modal')">Cancel</button>
            <button type="submit" class="confirm-btn">Save Changes</button>
        </div>
    </form>
    </div>
</div>
<script>
    function openModal (modalId) {
        document.getElementById(modalId).style.display ='flex';
    }
    function closeModal (modalId) {
        document.getElementById(modalId).style.display ='none';
    }
    function saveContact() {
        closeModal('edit-contact-modal');
    }
    function saveEmergency() {
        closeModal('edit-emergency-modal');
    }
    function saveInsurance() {
        closeModal('edit-insurance-modal');
    }

    function resetCredentials() {
        if(confirm('Are you sure you want to reset this patient\'s login credentials')) {
            //need to implement API call to reset credentials
            alert('Credentials reset. Patient will receive an email with setup instructions.');
        }
    }

    function deactivateAccount() {
        if(confirm('Are you sure you want to deactivate this patient\'s account?')) {
            //need to implement API call to deactivate account
            alert('Account has been deactivated.');
        }
    }

    function savePersonalInfo() {
        //need top implement API call to update personal info
        closeModal('edit-personal-modal');
    }

    function goBack() {
        window.location.href = "{% url 'patient_dashboard' %}";
    }
</script>
</body>
</html>